*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heroes{
    height: 100%;
    width: 100%;
    background-image: url('loginbackground.png');
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form_box{
    width: 400px;
    height: 580px;
    position: relative;
    margin: 10% auto;
    background: white;
    padding: 10px;
    overflow:hidden;
    border-radius: 15px;
}

.button_box{
    width: 220px;
    margin: 10px auto;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 20px 9px #2A3663;
    background: #2A3663;
    display: flex;
    justify-content: space-evenly;
}

.btn{
    padding:10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color:white;
}

#toggle_btn{
    top: 0;
    left: 0;
    position: absolute  ;
    width: 110px;
    height: 100%;
    background: linear-gradient(to left, #6b86e4, #6774A7);
    border-radius: 30px;
    transition: .4s ease;
}

.logo{
    margin: 20px auto;
    text-align: center;
}

.logo img{
    width: 120px;
}

.input{
    top: 250px;
    position: absolute;
    width: 280px;
    transition: .5s ease;
}

.input-text{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    border-left: 0;
    outline: none;
    background: transparent;
}

.submit{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #2A3663;
    border: 0;
    outline: none;
    border-radius: 30px;
    color:white;
}

.cekbok{
    margin: 30px 10px 30px 0;
}

span{
    color: #848484;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#Login{
    left: 50px;
}

#Register{
    left: 450px;
}

h5{
    color:#2A3663;
    height:-5px;
}
p{
    color:#2A3663;
    font-size:12px;
}

.copyright{
    margin-top: 300px;
    margin-left:20px;
    color:#2A3663
}

.forgot-password-container {
    position: relative; 
}

.forgot-password {
    text-decoration: none;
    color: #2A3663;
    font-size: 14px;
    cursor: pointer;
    margin-top:20px;
    margin-bottom:20px;
    font-size:12px;
}

.forgot-password-tooltip {
    display: none; 
    position: absolute;
    top: -65px; 
    left: 0;
    width: 50x; 
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #333;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}

.forgot-password-tooltip::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 20px; 
    border-width: 10px;
    border-style: solid;
    border-color: #f1f1f1 transparent transparent transparent;
}

.forgot-password-container:hover .forgot-password-tooltip {
    display: block; 
}
